
:root {
  --primary-color: #0cd0ee; 
  --secondary-color: #0ab1ca; 
  --background-color: #121212; 
  --text-color: #e0e0e0; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  background-color: var(--background-color);;
  color:var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

input {
  background-color: #1e1e1e;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  color: var(--text-color);
  margin-bottom: 20px;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 400px; 
  width: 100%;
  margin: 0 auto;
}

.create-todo-button {
  z-index: 1;
  position: fixed;
  bottom: 20px;  
  right: 20px;   
  width: 60px;
  height: 60px;
  border-radius: 50%; 
  border: none;
  background-color: var(--primary-color); 
  color: var(--background-color); 
  font-size: 2rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease; 
}

.create-todo-button:hover {
  background-color: var(--secondary-color); 
}

.todo-item {
  background-color: #1e1e1e; 
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.todo-item p {
  margin: 0;
  font-size: 1rem;
  color: var(--text-color); 
}

.todo-item span {
  font-size: 1.5rem; 
  color: var(--primary-color);
  cursor: pointer;
}

.todo-item:hover {
  transform: scale(1.05); 
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4); 
}

.completed {
  text-decoration: line-through; 
  color: var(--secondary-color); 
  opacity: 0.3; 
}

.ModalBackground{
  background-color: rgba(32, 35, 41, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.TodoForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.TodoForm-label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.TodoForm-textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  resize: none;
}

.TodoForm-buttonContainer {
  display: flex;
  justify-content: space-between;
}

.TodoForm-button {
  width: 45%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.TodoForm-button--cancel {
  color: black;
}



.TodoForm-button--add {
  background-color: var(--primary-color);
  color: white;
}

.TodoForm-button--add:hover {
  background-color: var(--secondary-color); 
}